# Exclude locally vendored dependencies.
vendor/

# Exclude node modules and git history
node_modules/
.git/
.github/

# Exclude local environment files to avoid leaking secrets in production image
.env
.env.*

# Exclude testing files
tests/
phpunit.xml

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore
.gitignore